@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.nav {
    justify-content: space-between;
    align-items: center;
    background: whitesmoke;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    padding: 5px 20px;
    border-radius: 20px;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    position: fixed;
    width:95%;
    box-sizing: border-box;
    z-index: 9999;
  }
  
  .nav-container {
    display: flex;
    margin: -10px;
    justify-content: space-between;
    width: 100%;
    text-overflow: ellipsis;
  }
  
  .nav-name {

    flex: 0 0 auto;
    text-decoration: none;
    margin-left: 30px;
    color: black;
  }
  .nav-name:hover{

    animation: jerk 0.3s ease-in-out forwards;

  }
  
  @keyframes jerk{
    0%,100%{transform: rotateZ(0deg);}
    50%{transform: rotateZ(3deg);}
  }
  
  .nav-menu {
    display: flex; 
    list-style: none; 
    margin: 0; 
    padding: 0;
    align-items: center;

  }
  .menu-icon{
    display: none;
  }
 
  .nav-items{
    display: inline-block;
    font-weight: 500;
    
  }
  
  .nav-links {
    text-decoration: none;
    margin:40px;
    padding: 0px;
    color: black;
    font-size: 20px;
    position: relative;
  }
  
  .nav-links:hover::after,
  .nav-links:focus::after{
    content: '';
    height: 4px;
    border-radius: 10px;
    width: 60%;
    background:#693E1E;
    position: absolute;
    bottom: -4px;
    left: 0;
  }

  @media screen and (max-width:850px) {
    .nav-menu {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      position: fixed;
      top: -500px;
      right: -22.5px;
      width: 100%;
      height: 350px;
      margin: 0px 22.5px;
      background: whitesmoke;
      border-radius: 0 0 20px 20px;
      padding: 40px  0px 0px 10px;
      transition: 0.5s ease-in-out;
      box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
      box-sizing: border-box;
      opacity: 0;


    }
    .nav-menu.active{
      top: 50px;
      opacity: 1;
    }
    .nav{
      width: 85%;
    }
    .nav-items{
      margin-top:25px;

    }
    .menu-icon{
      display: block;
      margin: 20px;
      font-size: 25px;
      cursor: pointer;
    }
      
  }